
body {
  font-family: sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  overflow-x: hidden;
}

.food-spin {
  max-width: 1080px;
  margin: 0 auto;
}

.food-spin__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  position: relative;
  z-index: 2;
  margin-bottom: 100px;
}

.food-spin__section {
  display: flex;
  align-items: center;
}

.food-spin__logo {
  margin-top: 5px;
}

.food-spin__menu {
  display: flex;
  list-style-type: none;
  gap: 60px;
  margin-left: 170px;
  padding-left: 0px;
}

.food-spin__item {
  margin-right: 20px;
  font-size: 14px;
  font-weight: var(--font-weight-small);
  line-height: 21px;
  color: var(--color-black-small);
  text-decoration: none;
  position: relative;
}

.food-spin__item:hover {
  --hover-color: #ff6600;
  color: var(--hover-color);
}

.food-spin__submenu {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  border-radius: 5px;
  --hover-color: #ff6600;
  box-shadow: 0px 2px 8px 0px var(--hover-color);
  width: 200px; 
  z-index: 10; 
}

.food-spin__submenu-li {
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.food-spin__items:hover .food-spin__submenu {
  display: flex;
}


.food-spin__submenu-li:hover {
  background-color: var(--hover-color);
  color: var(--color-white);
}

.food-spin__submenu-li:focus {
  color: var(--hover-color);
  outline: 2px solid var(--hover-color);
  outline-offset: 2px;
}

.food-spin__svg{
  --bg-orange: var(--color-orange);
  fill: var(--bg-orange); 
}

.food-spin__info {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 126px;
  gap: 82px;
}

.food-spin__ellipse {
  --bg-color: var(--color-skin);
  background-color: var(--bg-color);
  position: absolute;
  width: 1294px;
  height: 1131px;
  margin-left: 162px;
  top: -588px;
  border-radius: 50%; 
  z-index: var(--zero);
  transition: background-color 0.3s ease;
}

.food-spin__let {
  border-radius: 10px;
  z-index: 3;
  text-align: left;
  margin-top: 80px;
  flex-basis: 400px;
}

.food-spin__price {
  font-size: 44px;
  font-weight: var(--font-weight-bold);
  line-height: 66px;
  color: var(--color-orange);
  margin: var(--zero);
  transition: background-color 0.2s ease;
}

.food-spin__title {
  font-size: 36px;
  font-weight: var(--font-weight-small);
  line-height: 50px;
  text-align: left;
  color: var(--color-black-small);
}

.food-spin__description {
  font-size: var(--font-size-smalln);
  font-weight: var(--font-weight);
  line-height: var(--twenty-pixel);
  color: var(--color-black-small);
  margin-top: 12px;
  margin-left: 0px;
  padding-right: 10px;
}

.food-spin__order-button {
  --bg-orange: var(--color-orange);
  background-color: var(--bg-orange);
  --hover-color: #ff6600;
  --shadow-bg: var(--shadow-color);
  box-shadow: 0px 20px 40px 0px var(--shadow-bg);
  font-size: var(--font-size-smalln);
  font-weight: 700;
  line-height: var(--twenty-pixel);
  border-radius: 69px;
  margin-top: 28px;
  padding: 14px 41px;
  text-align: left;
  color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.food-spin__order-button:hover {
  background-color: var(--hover-color);
}

.food-spin__video {
  font-size: var(--font-size-smalln);
  font-weight: var(--font-weight);
  line-height: var(--twenty-pixel);
  margin-top: 142px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.food-spin__rigth {
  min-height: 90vh;
  margin-top: 65px;
  flex-basis: 750px;
}

.slide-food-spin {
  position: relative;
  max-width: 500px;
  margin-left: 20%;
}

.carousel-food-spin {
  position: relative;
  padding-top: 100%;
}

.carousel-food-spin__dishs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
}

.carousel-food-spin__dish {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
}


.carousel-food-spin__dish.active {
  z-index: 1;
  opacity: 1;
}

.carousel-food-spin__snip {
  clip-path: circle(149% at 0% -148%);
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.carousel-food-spin__pagination {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  --bg-orange: var(--color-orange);
  border: 2px dashed var(--bg-orange);
  transition-property: transform;
  transition-timing-function: ease-out;
  pointer-events: none;
  user-select: none;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

.carousel-food-spin__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.carousel-food-spin__dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: auto;
  transition: 0.2s;
}

.carousel-food-spin__prev-next {
  display: flex;
  justify-content: space-between;
  margin-top: -130px;
}

.carousel-food-spin__next,
.carousel-food-spin__prev {
  display: flex;
  align-items: center;
  z-index: 1;
  letter-spacing: 0.3em;
  transition: 0.3s;
  cursor: pointer;
  padding: 14px;
  border-radius: 50%;
  --bg-color: var(--color-orange);
  background-color: var(--bg-color);
  --shadow-bg: #F5ECE3;
  box-shadow: 0 10px 20px 0 var(--shadow-bg);
  transition: background-color 0.3s ease;
  border: none;
}

.carousel-food-spin__next:hover,
.carousel-food-spin__prev:hover {
  --hover-color: #ff6600;
  background-color: var(--hover-color);
}

.carousel-food-spin__next {
  margin-right: -4%;
}
.carousel-food-spin__prev {
  margin-left: -4%;
}

.carousel-food-spin__main {
  position: absolute;
  top: 57%;
  margin-left: 250px;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 10;
}

.carousel-food-spin__img {
  width: 290px;
  margin: 0px;
}

.carousel-food-spin__item-img {
  max-width: 100px;
}

.ventana-modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  --modal-color: var(--color-orange);
}

.ventana-modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  --modal-box: rgba(255, 146, 44, 0.5);
  box-shadow: 0px 0px 25px var(--modal-box);
  border-radius: 50px;
  margin-top: 150px;
  max-width: 975px;
  gap: 28px;
}

.ventana-modal__img {
  width: 431px;
  margin-right: -20px;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.5));
}

.ventana-modal__bord {
  height: 610px;
  border: 1px solid var(--modal-color);
}

.ventana-modal__button {
  margin-bottom: auto;
  background-color: var(--modal-color);
  --modal-boxx: rgba(255, 146, 44, 0.7);
  box-shadow: 0px 0px 10px var(--modal-boxx);
  border: none;
  color: #FFFFFF;
  padding: 8px;
  border-radius: 50%;
  margin-top: -8px;
  margin-right: -8px;
  cursor: pointer;
  z-index: 2000;
}

.ventana-modal__info {
  position: relative;
  padding-top: 49px;
  margin-bottom: 49px;
}

.ventana-modal__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: 0.02em;
  color: var(--modal-color);
}

.ventana-modal__Discount {
  padding-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #404040;
  margin-left: 0px;
}

.ventana-modal__svg {
  margin-bottom: -5px;
  margin-right: 5px;
  fill: var(--modal-color); 
}

.ventana-modal__paragraph {
  padding-top: 30px;
  padding-right: 44px;
  margin-left: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #7A7373;
}

.ventana-modal__price {
  display: flex;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: var(--modal-color);
  align-items: center;
  gap: 12px;
  margin: 0px;
  padding-top: 24px;
}

.ventana-modal__number {
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #A6A6A6;
  margin-top: 4px;
  font-style: italic;
}

.ventana-modal__add {
  display: flex;
  margin-top: 30px;
}

.ventana-modal__quantity-selector {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-solid);
  width: 180px;
  border-radius: 8px;
  justify-content: center;
  gap: 5px;
  position: absolute;
  background-color: white;
  height: 40px;
}

.ventana-modal__decrease {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--color-solid);
  margin-bottom: 5px;
  margin-left: 15px;
}

.ventana-modal__quantity {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 64px;
  padding: 7px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1.5px solid var(--color-solid);
  border-right: 1.5px solid var(--color-solid);
  color: var(--color-solid);
  background-color: #f5f5f5;
  border-bottom: none;
  border-top: none;
}

.ventana-modal__increase {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-solid);
  font-size: 40px;
  margin-right: 15px;
}

.ventana-modal__requires {
  margin-left: 210px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #7A7373;
  margin-top: -16px;
}

.ventana-modal__input {
  background-color: #F5F5F5;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #A6A6A6;
  align-items: center;
  display: flex;
}

.ventana-modal__svgs {
  background-color: #FFFFFF;
  border-right: 1px solid #A6A6A6;
  border-radius: 8px 0px 0px 8px;
  padding: 4px;
  fill: var(--modal-color); 
  stroke: var(--modal-color);
}

.ventana-modal__bevegare {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--modal-color);
  background: #F5F5F5;
  border: none;
  outline: none;
  flex: 1;
  padding: 4px 10px;
}

.ventana-modal__add-target {
  display: flex;
  gap: 35px;
  margin-top: 30px;
}

.ventana-page__add-purchases {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 49px;
  --shadow-modal: var(--shadow-color);
  background-color: var(--modal-color);
  box-shadow: 0px 0px 2px var(--shadow-color);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.ventana-page__add-purchases:hover {
  --hover-modal: #ff6600;
  box-shadow: 0px 2px 8px 0px var(--hover-color);
  background-color: var(--hover-modal);
}

.ventana-modal__add-cart {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.10em;
  color: #FFFFFF;
}

.ventana-modal__payment-methods {
  display: flex;
  height: 12px;
  gap: 5px;
  margin-top: 13px;
  list-style-type: none;
  padding-left: 0px;
  margin-right: 10px;
  justify-content: end;
}





