
body {
  font-family: sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.food-spin{
  max-width: 1080px;
  margin: 0 auto;
}

.food-spin__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

.food-spin__section {
  display: flex;
  align-items: center;
}

.food-spin__menu {
  display: flex;
  list-style-type: none;
  gap: 60px;
  margin-left: 170px;
  padding-left: 0px;
}

.food-spin__item {
  margin-right: 20px;
  font-size: 14px;
  font-weight: var(--font-weight-small);
  line-height: 21px;
  color: var(--color-black-small);
  margin-right: 0px;
  text-decoration: none;
}

.food-spin__item:hover {
  color: #FF922C;
}

.food-spin__info{
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 126px;
  gap: 82px;
}

.food-spin__Ellipse {
  position: absolute;
  width: 1177px;
  height: 1177px;
  margin-left: 180px;
  top: -645px;
  background: #FFEEDE;
  border-radius: 50%; 
  z-index: 1;
}

.food-spin__let {
  border-radius: 10px;
  text-align: center;
  z-index: 3;
  text-align: left;
  margin-top: 80px;
}

.food-spin__price {
  font-size: 44px;
  font-weight: var(--font-weight-bold);
  line-height: 66px;
  color: var(--color-orange);
  margin: 0px;
}

.food-spin__title {
  font-size: 36px;
  font-weight: var(--font-weight-small);
  line-height: 50px;
  text-align: left;
  color: var(--color-black-small);
  padding-right: 40px;
}

.food-spin__description {
  font-size: var(--font-size-smalln);
  font-weight: var(--font-weight);
  line-height: var(--twenty-pixel);
  color: var(--color-black-small);
  margin-top: 12px;
  padding-right: 60px;
  margin-left: 0px;
}

.food-spin__order-button {
  background-color: #FF922C;
  box-shadow: 0px 20px 40px 0px #F4E2D1;
  font-size: var(--font-size-smalln);
  font-weight: 700;
  line-height: var(--twenty-pixel);
  border-radius: 69px;
  margin-top: 28px;
  padding: 14px 41px;
  text-align: left;
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

.food-spin__order-button:hover {
  background-color: #ff6600;
}

.food-spin__video{
  font-size: var(--font-size-smalln);
  font-weight: var(--font-weight);
  line-height: var(--twenty-pixel);
  text-align: left;
  margin-top: 142px;
}

.food-spin__rigth {
  min-height: 90vh;
  margin-top: 10px;
  flex-basis: 950px;
}

.slide-food-spin {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-food-spin {
  position: relative;
  padding-top: 100%;
}

.carousel-food-spin__dishs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-food-spin__dish {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.carousel-food-spin__dish.active {
  z-index: 1;
  opacity: 1;
}

.carousel-food-spin__snip{
  clip-path: circle(150% at 50% 0%);
  z-index: 3;
}

.carousel-food-spin__pagination{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 2px dashed #E87F1E;
  transition-property: transform;
  transition-timing-function: ease-out;
  pointer-events: none;
  user-select: none;
}

.carousel-food-spin__item{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.carousel-food-spin__dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: auto;
  transition: 0.3s;
}

.carousel-food-spin__next,
.carousel-food-spin__prev{
  position: absolute;
  bottom: 6%;
  z-index: 1;
  letter-spacing: 0.3em;
  transition: 0.3s;
  cursor: pointer;
  padding: 13px 18px;
  border-radius: 50%;
  background-color: #FF922C;
  box-shadow: 0px 10px 20px 0px #F5ECE3;

}

.carousel-food-spin__next {
  right: -10%;
}
.carousel-food-spin__prev {
  left: -10%;
}

.carousel-food-spin__main {
  position: absolute;
  top: 60%;
  margin-left: 500px;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 10;
}

.carousel-food-spin__img {
  width: 500px;
  margin: 0px;
}

.carousel-food-spin__img1{
  max-width: 80%;
}

.carousel-food-spin__dish {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
